html,
body {
    background: none;
}

/* Table */
.table_container {
    background-color: #ffe7bf;
    width: 100%;
    border-radius: 10px;
}

.table_container table {
    margin-top: 70px;
    width: 100%;
}

.table_container table td {
    text-align: center;
    border-bottom: 1px solid black;
}

.table_container table th {
    text-align: center;
    border-bottom: 1px solid black;
}